doctype
html
  head
    meta(
        name="viewport"
        content="width=device-width, initial-scale=1"
    )
    link(
        rel="stylesheet"
        href="/css/main.css"
    )
  body
    header.site-header
      h2.site-header__title Sarah Lim
      
      button.site-nav__toggle.site-nav__toggle--dehydrated(
        aria-controls="site-nav"
        aria-owns="site-nav"
        aria-pressed="false"
        data-js="site-nav-toggle"
      )
        //- Could reuse parent icon span, but prefer to keep a11y and style concerns separate
        span.sr-only Toggle page navigation visibility
        span(
          aria-hidden="true"
          data-js="site-nav-toggle-text"
        ) Menu
        //- Need this for the CSS hamburger icon
        span.site-nav__toggle-icon(data-js="site-nav-toggle-icon")

      //- Technically, aria-hidden is redundant with `display: none;` but again we are separating a11y and style
      nav#site-nav.site-nav__overlay.site-nav__overlay--dehydrated(
        aria-hidden="false"
        role="navigation"
      )
        h2.sr-only Navigation
        ul
          li #[a(href="#") About]
          li #[a(href="#") Projects]
          li #[a(href="#") Teaching]
          li #[a(href="#") Writing]


    != yield

    

    script(
      type="text/javascript"
      src="./js/vendor/prism.js"
      defer
    )
